<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head>
<body>
{{ message }}
<br/><br/>
Go the list of <a href="{{ path('findAllPosts') }}">all blog posts</a>.
</body>
</html>