<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
</head>
<body>
<form action="{{ path('user_login_check') }}" method="post">
    {{ error }}<br/>
    Username: <input type="text" name="_username" value="{{ last_username }}" /><br/>
    Password: <input type="password" name="_password" value="" /><br/>
    <input type="submit" /><input type="reset" />
</form>
</body>
</html>